<template>
  <div>
    <div class="h-72 overflow-y-scroll rounded-md flex flex-col bg-green-300">
      <div class="flex justify-center items-center p-4 text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 mr-3"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
          />
        </svg>
        <h2 class="mr-5 text-lg font-mono font-semibold">Filters</h2>
      </div>
      <button
        class="bg-[#2980b9] rounded-md p-3 flex justify-center mt-0 text-white mb-3"
        @click="showCategories()"
      >
        دسته بندی ها
        <svg
          xmlns="http://www.w3.org/2000/svg"
          text-white
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17 13l-5 5m0 0l-5-5m5 5V6"
          />
        </svg>
      </button>
      <div
        class="text-center bg-slate-300 hidden flex-col list-none cursor-pointer"
        ref="category"
      >
        <li
          v-for="category in categories"
          :key="category"
          @click="
            showProducts(
              `https://api.superz.ir/api/search/?is_exist=true&category_slug=${category}`
            )
          "
          class="bg-lime-100 text-base text-slate-900 p-3 border-b-2 border-slate-500"
        >
          {{ category }}
        </li>
      </div>
      <button
        class="bg-[#2980b9] rounded-md p-3 flex justify-center mt-0 text-white mb-3"
        @click="showBrands()"
      >
        برند
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17 13l-5 5m0 0l-5-5m5 5V6"
          />
        </svg>
      </button>
      <div
        class="text-center bg-slate-300 hidden flex-col list-none cursor-pointer"
        ref="brand"
      >
        <li
          v-for="brand in brands"
          :key="brand"
          @click="
            showProducts(
              `https://api.superz.ir/api/search/?is_exist=true&brand__in=${brand}`
            )
          "
          class="bg-lime-100 text-base text-slate-900 p-3 border-b-2 border-slate-500"
        >
          {{ brand }}
        </li>
      </div>
      <button
        class="bg-[#2980b9] rounded-md p-3 flex justify-center mt-0 text-white mb-3"
        @click="showStores()"
      >
        فروشگاه
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17 13l-5 5m0 0l-5-5m5 5V6"
          />
        </svg>
      </button>
      <div
        class="text-center bg-slate-300 hidden flex-col list-none cursor-pointer"
        ref="store"
      >
        <li
          v-for="store in stores"
          :key="store"
          @click="
            showProducts(
              `https://api.superz.ir/api/search/?is_exist=true&vendor_slug__in=${store}`
            )
          "
          class="bg-lime-100 text-base text-slate-900 p-3 border-b-2 border-slate-500"
        >
          {{ store }}
        </li>
      </div>
      <button
        class="bg-[#2980b9] rounded-md p-3 flex justify-center mt-0 text-white"
        @click="showPrices()"
      >
        قیمت
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17 13l-5 5m0 0l-5-5m5 5V6"
          />
        </svg>
      </button>
      <div class="text-center bg-slate-300 hidden flex-col" ref="price">
        از تومان تا 2,000,000 تومان
        <input
          v-model="price"
          @keyup.enter="filterByPrice()"
          type="text"
          class="rounded shadow-sm border-2 border-slate-600 my-3 p-4"
          placeholder="قیمت مورد نظر خود را وارد کنید"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["showProducts"],
  data() {
    return {
      price: "",
      categories: [
        "ماست",
        "ميوه",
        "تميز-کننده",
        "شیر",
        "بیسکویت",
        "خانه-و-آشپزخانه",
        "دلسترآبميوه-گازدار",
        "چايچاي-طعم-دار",
        "قهوه-جوش",
        "اسباب-بازی",
        "آبمیوه",
        "خرازی",
        "لامپ",
        "غذا-آماده-نيمه-آماده",
        "تنقلات",
        "خشکبار",
        "مدو-پوشاک",
        "بستنی",
        "آردپودر-کيکسوخاري",
        "ژل-سر-و-تافت",
      ],
      stores: [
        "یخدون",
        "تزول",
        "پینکت",
        "تامارک",
        "اکالا",
        "دیجی-کالا",
        "اسنپ-مارکت",
        "snappexpress",
        "digikalajet",
        "مدیسه",
        "کافی-مافی",
        "shirik",
        "بازار-آنلاین-به-روز-رسان",
        "اروندکالا",
        "هایپر-باز",
      ],
      brands: [
        "فولیکا",
        "چی-توز",
        "نسکافه",
        "شام-شام",
        "سی-سام",
        "تلاونگ",
        "ایزی-پیک",
        "وی-وان",
        "مزمز",
        "شیگوار",
        "میهن",
        "حلوای-عقاب",
        "اکتیو",
        "کاله",
        "دلوسه",
        "مولتی-کافه",
        "تافته",
        "کلیر",
        "گرجی",
        "طبیعت",
        "گلستان",
        "زرماکارون",
        "هاتی-کارا",
        "دامستوس",
        "محسن",
        "تک-ماکارون",
        "لادن",
      ],
    };
  },
  methods: {
    showCategories() {
      if (this.$refs.category.classList.contains("hidden")) {
        this.$refs.category.classList.remove("hidden");
        this.$refs.category.classList.add("flex");
      } else {
        this.$refs.category.classList.add("hidden");
        this.$refs.category.classList.remove("flex");
      }
    },
    showBrands() {
      if (this.$refs.brand.classList.contains("hidden")) {
        this.$refs.brand.classList.remove("hidden");
        this.$refs.brand.classList.add("flex");
      } else {
        this.$refs.brand.classList.add("hidden");
        this.$refs.brand.classList.remove("flex");
      }
    },
    showPrices() {
      if (this.$refs.price.classList.contains("hidden")) {
        this.$refs.price.classList.remove("hidden");
        this.$refs.price.classList.add("flex");
      } else {
        this.$refs.price.classList.add("hidden");
        this.$refs.price.classList.remove("flex");
      }
    },
    showStores() {
      if (this.$refs.store.classList.contains("hidden")) {
        this.$refs.store.classList.remove("hidden");
        this.$refs.store.classList.add("flex");
      } else {
        this.$refs.store.classList.add("hidden");
        this.$refs.store.classList.remove("flex");
      }
    },
    filterByPrice() {
      if (this.price) {
        this.$emit("filterProductsByPrice", this.price);
      }
    },
  },
};
</script>
