<template>
  <div>
    <div class="lg:grid lg:grid-cols-5 flex flex-wrap gap-2">
      <div
        class="w-52 bg-white drop-shadow-md rounded-lg m-auto my-4"
        ref="container"
        v-for="product in allProducts"
        :key="product.id"
      >
        <img
          class="object-cover rounded-tl-lg rounded-tr-lg"
          :src="product.picture.large"
        />
        <div class="px-5 py-3 space-y-2">
          <h3 class="text-sm text-center">{{ product.title }}</h3>
        </div>
        <p class="space-x-2 mx-5">
          <span class="text-2xl font-semibold">{{ product.price }}</span>

          <span class="text-sm text-red-700"> {{ product.discount }}% off</span>
        </p>
        <div class="flex justify-between items-center pt-3 pb-2 mx-5">
          <a
            href="#"
            class="px-4 py-2 bg-red-600 hover:bg-amber-600 text-center text-sm text-white rounded duration-300"
          >
            Add to Cart</a
          >

          <a
            href="#"
            title="Add to Favorites"
            class="text-2xl text-gray-300 hover:text-red-500 duration-300"
            >&hearts;</a
          >
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <button
        id="previousButton"
        class="px-4 py-2 mx-10 my-3 bg-red-600 hover:bg-amber-600 text-center text-sm text-white rounded duration-300"
        @click="showProducts(data.previous)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"
          />
        </svg>
      </button>
      <button
        id="nextButton"
        class="px-4 py-2 bg-red-600 hover:bg-amber-600 text-center text-sm text-white rounded duration-300"
        @click="showProducts(data.next)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductCards",
  props: ["allProducts", "showProducts", "data"],
  data() {
    return {};
  },
  methods: {},
};
</script>
