<template>
  <div>
    <div class="text-center py-6">
      <h1 class="font-semibold text-lg my-5">محصولات جدید</h1>
      <div class="flex justify-center items-center max-w-full px-6">
        <input
          @keyup.enter="chosenProductHandler()"
          v-model="searchedProduct"
          ref="search"
          class="text-md text-center w-96 border-6 shadow-md shadow-gray-200 border-slate-800 rounded-full py-4 px-32"
          type="text"
          placeholder="search something"
        />
        <svg
          @click="chosenProductHandler()"
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8 absolute ml-32"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchFilter",
  props: ["showProducts"],
  data() {
    return {
      searchedProduct: "",
    };
  },
  methods: {
    chosenProductHandler() {
      this.searchedProduct = this.$refs.search.value;
    },
  },
  watch: {
    searchedProduct: {
      handler(val, oldVal) {
        this.showProducts(`https://api.superz.ir/api/search/?search=${val}`);
      },
    },
  },
  components: {},
};
</script>
