<template>
  <div class="bg-gradient-to-r from-cyan-200 to-blue-300 h-fit pb-44">
    <div class="grid grid-flow-row">
      <SearchFilter :showProducts="showProducts" />
      <div class="grid grid-flow-col gap-x-11">
        <ProductCards
          :allProducts="allProducts"
          :showProducts="showProducts"
          :data="data"
        />
        <ProductFilters
          :showProducts="showProducts"
          @filterProductsByPrice="filterArrayByPriceValue"
        />
      </div>
    </div>
  </div>
</template>

<script>
import SearchFilter from "../components/SearchFilter.vue";
import ProductCards from "../components/ProductCards.vue";
import ProductFilters from "../components/ProductFilters.vue";

export default {
  name: "IndexPage",
  components: { SearchFilter, ProductCards, ProductFilters },
  data() {
    return { allProducts: [], data: "" };
  },
  methods: {
    showProducts(productApi) {
      fetch(productApi)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          this.allProducts = data.results;
          this.data = data;
        });
    },
    filterArrayByPriceValue(price) {
      this.showProducts(
        `https://api.superz.ir/api/search/?price__range=${price}__20000000`
      );
    },
  },

  created() {
    this.showProducts("https://api.superz.ir/api/search/");
  },
};
</script>
